.card-conteiner {
    display: flex;
}

.card-img {
    border-radius: 5px;
}

#card-footer{
    display: flex;
    gap: 0.5rem;
    border-top: none;
    background-color: #fff;
    padding: 0.5rem;
    justify-content: right;
}

.info {
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
}

.agregar-carrito {
    border-radius: 5px;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 0.5rem;
}

.card-nombre{
    font-size: 20px;
    font-weight: 600;
}

.card-precio{
    font-size: 18px;
    font-weight: 600;
}